* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #ff5400;
  --secondary-color: #727275;
  --white-color: white;
}
.container {
  width: 80%;
  margin: 20px auto;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo h2 {
  padding: 10px;
}
.nav-logo span {
  color: var(--primary-color);
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list p {
  display: none;
}
.nav-list ul {
  list-style: none;
  display: flex;
}
.nav-list ul :first-child {
  color: var(--primary-color);
}
.nav-list li {
  margin-left: 30px;
  color: var(--secondary-color);
}
.explore-travel {
  position: relative;
  width: 100%;
  height: 85vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, .5) 0,
      rgba(0, 0, 0, 0) 100%
    ),
    url('Images/Group 13 (1) (1).png');
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.explore-travel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.travel-header {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.travel-header h1 {
  color: var(--white-color);
  font-size: 3rem;
}
.travel-header p {
  color: var(--white-color);
  font-size: 16px;
  margin: 20px 0;
}
.travel-input-list {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 12px;
}
.travel-input-list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.travel-input-list ul li {
  width: 130px;
  display: flex;
  justify-content: space-between;
  text-align: start;
  padding: 12px;
  background: var(--white-color);
  border-radius: 12px;
  font-size: 14px;
  color: var(--secondary-color);
}
.travel-input-list ul li:last-child {
  background-color: var(--primary-color);
  color: var(--white-color);
  justify-content: center;
  gap: 4px;
}
.popular-tours-container {
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popular-tours-text {
  width: 45%;
}
.popular-tours-text h1 {
  font-size: 30px;
}
.popular-tours-des {
  color: var(--secondary-color);
  margin: 20px 0px;
}
.popular-tours-des-middle {
  margin-left: 20px;
  color: var(--secondary-color);
}
.popular-tours-des-middle li {
  margin-bottom: 20px;
}
.popular-tours-des-end {
  display: block;
  color: var(--secondary-color);
  margin: 20px 0px;
}
.popular-tours-container button,
.perfect-place button {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
}
.popular-tours-image {
  width: 45%;
}
.popular-tours-image img {
  width: 100%;
  height: 42vh;
}
.destination-text,
.choose-us-text {
  width: 65%;
  margin: 40px auto;
  text-align: center;
}
.destination-text h1,
.choose-us-text h1 {
  font-size: 30px;
}
.destination-text p,
.choose-us-text p {
  margin: 20px 0px;
  color: var(--secondary-color);
}
.maldives {
  grid-area: maldives;
}
.indonesia {
  grid-area: indonesia;
}
.srilanka {
  grid-area: srilanka;
}
.north-america {
  grid-area: north-america;
}
.kashmir {
  grid-area: kashmir;
}
.bangladesh {
  grid-area: bangladesh;
}
.bandarban {
  grid-area: bandarban;
}
.destination-images {
  display: grid;
  margin: 30px 0px;
  gap: 20px;
  grid-template-areas: "maldives maldives indonesia indonesia"
    "srilanka north-america north-america kashmir"
    "bangladesh bandarban bandarban bandarban";
}
.maldives,
.indonesia,
.srilanka,
.north-america,
.kashmir,
.bangladesh,
.bandarban,
.perfect-place-image {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.maldives img,
.indonesia img,
.srilanka img,
.north-america img,
.kashmir img,
.bangladesh img,
.bandarban img,
.perfect-place-image img {
  width: 100%;
  height: 40vh;
  border-radius: 20px;
}
.maldives h3,
.indonesia h3,
.srilanka h3,
.north-america h3,
.kashmir h3,
.bangladesh h3,
.bandarban h3,
.perfect-place-image h3 {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--white-color);
  top: 0;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose-us-cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.choose-us-card-1 {
  width: 45%;
  padding: 20px;
  background: #fffbf7;
  border-radius: 14px;
}
.choose-us-card-1 h3 {
  font-size: 30px;
  color: var(--primary-color);
}
.choose-us-card-1 h4 {
  margin: 20px 0px;
  font-size: 20px;
}
.choose-us-card-1 p {
  color: var(--secondary-color);
}
.choose-us-card-2 {
  width: 45%;
  padding: 20px;
  background: #f4fdff;
  border-radius: 14px;
}
.choose-us-card-2 h3 {
  font-size: 30px;
  color: var(--primary-color);
}
.choose-us-card-2 h4 {
  margin: 20px 0px;
  font-size: 20px;
}
.choose-us-card-2 p {
  color: var(--secondary-color);
}
.choose-us-card-3 {
  width: 45%;
  padding: 20px;
  background: #fef6f6;
  border-radius: 14px;
}
.choose-us-card-3 h3 {
  font-size: 30px;
  color: var(--primary-color);
}
.choose-us-card-3 h4 {
  margin: 20px 0px;
  font-size: 20px;
}
.choose-us-card-3 p {
  color: var(--secondary-color);
}
.perfect-place {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.perfect-place-text {
  width: 45%;
  height: 42vh;
}
.perfect-place-text h1 {
  font-size: 30px;
  line-height: 40px;
}
.perfect-place-des {
  color: var(--secondary-color);
  margin: 20px 0px;
}
.perfect-place-des-end {
  margin-left: 20px;
}
.perfect-place-des-end li {
  margin-bottom: 20px;
}
.perfect-place-container button {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
}
.perfect-place-image {
  width: 45%;
}
.perfect-place-image img {
  width: 100%;
  height: 42vh;
}
.newsletter {
  padding-bottom: 60px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.newsletter-text {
  width: 40%;
  padding: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
}
.newsletter-text h3 {
  font-size: 25px;
}
.newsletter-text p {
  color: var(--secondary-color);
  margin: 15px 0px;
}
.newsletter-text hr {
  margin-bottom: 18px;
}
.newsletter-text input {
  width: 93%;
  outline: none;
  border: none;
  border-radius: 5px;
  background: rgba(211, 211, 211, 0.295);
  padding: 20px;
  margin-bottom: 18px;
}
.newsletter button {
  width: 100%;
  background: var(--primary-color);
  color: var(--white-color);
  padding: 20px 25px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
.newsletter-image {
  width: 50%;
  position: relative;
}

.newsletter-image img {
  width: 100%;
  height: 400px;
}
.travel-save {
  rotate: -25deg;
  position: absolute;
  padding: 20px;
  text-align: center;
  bottom: 40px;
  right: 10px;
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--white-color);
}
.travel-save p {
  font-size: 25px;
}
.about-card {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.about-card h1 {
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
  font-size: 30px;
}
.about-card p {
  text-align: center;
  color: var(--secondary-color);
}
footer {
  background: #f3f3f3;
  padding: 30px;
}
.footer-details {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.footer-title p {
  margin-top: 15px;

  color: var(--secondary-color);
}
.footer-title ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 25px;
  font-size: 25px;
}
.footer-title span {
  display: block;
  padding: 25px;
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .nav-list ul {
    display: none;
  }
  .nav-list p {
    display: block;
  }
  .travel-input-list ul {
    flex-direction: column;
    gap: 15px;
  }
  .travel-input-list ul li {
    width: 92%;
  }
  .popular-tours-text {
    width: 100%;
    margin-bottom: 20px;
  }
  .popular-tours-image {
    width: 100%;
  }
  .destination-text,
  .choose-us-text {
    width: 100%;
  }
  .destination-images {
    grid-template-areas: "maldives maldives maldives maldives"
      "indonesia indonesia indonesia indonesia"
      "srilanka srilanka srilanka srilanka"
      "north-america north-america north-america north-america"
      "kashmir kashmir kashmir kashmir"
      "bangladesh bangladesh bangladesh bangladesh "
      "bandarban bandarban bandarban bandarban";
  }
  .choose-us-card-1,
  .choose-us-card-2,
  .choose-us-card-3 {
    width: 100%;
  }
  .perfect-place-text {
    width: 100%;
    margin-bottom: 100px;
  }
  .perfect-place-image {
    width: 100%;
  }
  .newsletter-text {
    width: 100%;
    margin-bottom: 20px;
  }
  .newsletter-image {
    width: 100%;
  }
  .about-card {
    width: 100%;
    margin-top: 390px;
  }
  .footer-details {
    width: 100%;
  }
}
